---
layout: default
title: Career
permalink: /career/
---

<div class="home">

  <div class="posts card">
      <div class="card-content white-text">
          <span class="card-title">Summary</span>

          <div class="post-content">
<p>
Always ready to face new challenges, I had to deal all over my career with quite different projects, from pure consulting, to datawarehousing, web development in Python and Java and now E-commerce.
</p><p>
My last discovery, in 2011, was the payment services industry. This market is heavily influenced by the enormous number of players, each one with a different perspective on how systems should communicate, which standards they should follow and which workflows should guide shoppers and merchants through the checkout process.
</p>
          </div>

      </div>
   </div>

{% for post in site.posts %}
    {% if post.layout == "career" %}
  <div class="posts card">
      <div class="card-content white-text">
          <div class="card-title company-header">
              <div class="company-name">{{ post.title }}</div>
              <div class="company-logo">
                <a data-title="{{ post.title }}" href="{{ post.company_site}}" target="_blank">
                  <svg class="career-logo">
                      <use xlink:href="#{{ post.logo }}">
                      </use>
                  </svg>
                </a>
              </div>
          </div>

          <div class="post-content .rTable">
              <div class="rTableRow">
                <div class="rTableCell column-header">Time period:</div>
                <div class="rTableCell">{{ post.time_period }}</div>
              </div>
              <div class="rTableRow">
                <div class="rTableCell column-header">Position:</div>
                <div class="rTableCell">{{ post.position }}</div>
              </div>
              <div class="rTableRow">
                <div class="rTableCell column-header">Description:</div>
                <div class="rTableCell job-description">{{ post.content}}</div>
              </div>
          </div>

      </div>
   </div>

    {% endif %}
{% endfor %}

</div>
