.career-logo{
    height: 40px;
}

.company-name{
    display:inline-block;
}

.company-logo{
    float: right;
}

.company-header{
    overflow: auto;
}

.job-description{
    text-align: justify;
}
