.rTable{
    display: table;
}

.rTableRow{
    display: table-row;
}

.rTableHeading{
    display: table-header-group;
}

.rTableBody{
    display: table-row-group;
}

.rTableFoot{
    display: table-footer-group;
}

.rTableCell{
    display: table-cell;
}

.rTableHead{
    display: table-cell;
}

.column-header{
    width: 17%;
    padding-right: 20px;
    font-weight: bold;
}
